@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --text-color: wheat;
    --second-text-color: #DCDCDC;
}

html {
    font-size: 70.5%;
    overflow-x: hidden;
    /* scroll-behavior: smooth; biar scroll halus */
}

body {
    /* background: #D2691E; */
    background-image: url("../../philip-oroni-uW6N7dj9HjM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
}


section {
    min-height: 100vh;
  /* padding: 10rem 10% 2rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


.headerr{
    position: fixed;
    /* color: brown; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 10%;
    background: transparent;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;

}

.navigation {
    display: flex;
    margin-left: auto;

}

.navigation a {
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .10s;
}

.navigation a:hover, 
.navigation a.activate {

    color: blue;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; */
    padding: 5% 10%;
    gap: 5%;
}

.homecontent{
    max-width: min(90%, 600px);
    flex: 1 1 60%;
    background: #f00008;
}

.homecontent h1{
    font-size: clamp(5rem, 5vw, 3.5rem);
    font-weight: 700;
    color: var(--second-text-color);
    margin: 15px;
    /* margin-left: 0.5rem; */
    

}

.homecontent h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: wheat;
    margin: 15px;

}

.homecontent p{
    margin-left: 20px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--second-text-color);
}

.home-image {
    flex: 1 1 45%;
    max-width: 500px;
    margin: 0 5% 0 10%;
    margin-bottom: 6.5%;
    background: blueviolet;
}

.home-image img {
    
    width: 100%; 
    height: auto; 
    display: block; /* hilangkan gap bawah default inline image */
}

.sosmed a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .4rem solid blanchedalmond;
    border-radius: 30%;
    font-size: 5rem;
    color: var(--second-text-color);
    margin: 3rem 1.5rem;
    transition: .5s ease;
}

.sosmed :hover{
    background: transparent;
    color: var(--second-text-color);
    box-shadow: 0 0 2rem #FFFAFA;
}

.botton{
    display: inline-block;
    padding: 1rem 2.5rem;
    background: #191970;
    border: .4rem solid blanchedalmond;
    border-radius: 4rem;
    font-size: 2rem;
    color: var(--second-text-color);
    letter-spacing: .1rem;
    font-weight: 800;
    transition: .5s ease;
    margin: 1rem 1.5rem ;

}

.botton:hover{
    background: transparent;
    color: var(--second-text-color);
    box-shadow: 0 0 2rem #FFFAFA;
}

.about-section{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; */
    gap: 5%; 
    padding: 5% 10%;
}

.about-image{
    order: 2;
    flex: 1 1 45%; /* fleksibel, min 45% lebar tiap kolom */
    max-width: 500px;
    background: blueviolet;
}

.about-image img{
    width: 100%;
    height: auto;
    display: block;
}

.about-content{
    order: 1;
    max-width: min(90%, 600px);
    flex: 1 1 60%;
    font-weight: 700;
    margin: 0 3% 0 6%;
    background: #f00008;
}


.headingA{
    font-size: 5rem;
    color: var(--text-color);
}

.about-content h3{
    font-size: 2rem;
    color: var(--second-text-color);
    margin-bottom: 2%;
}

.about-content p{
    font-size: 2rem;
    color: var(--second-text-color);
}

.skills-section{
    gap: 5%; 
    padding: 5% 10%;
    font-weight: 700;
    /* align-items: center; */
}

.head-skill{
    background: #f00008;
    text-align: center;
    align-items: center;
    margin: 0 0 1% 45%;
    font-size: 2.5rem;
    font-weight: 800;
}

.softskil, .hardskil, .tools{
    max-width: min(90%, 600px);
    margin: 2% 0;
    flex: 1 1 60%;
    font-size: 3rem;
    background: #f00008;
}

.softskil{
    margin-left: 6.5%;

}

.softskil h2, .hardskil h2, .tools h2{
    color: var(--text-color);
    /* font-size: 3.5rem; */
    text-align: center;

}

.softskil p, .hardskil p{
    color: var(--second-text-color);
    /* font-size: 3.5rem; */
    text-align: center;

}

.tools{
    margin-left: 30%;
}

.tools p{
    background: black;
    color: var(--second-text-color);
    display: inline-flex;
    margin: 2% 1%;
    justify-content: center;
    text-align: left;
    border: .4rem solid darkcyan;
    border-radius: 10%;
}

.experiences-section, .projects-section{
    padding: 5% 10%;
    gap: 5%;
}

.head-exp{
    background: #f00008;
    text-align: center;
    align-items: center;
    margin: 0 0 3% 35%;
    font-size: 2.5rem;
    font-weight: 800;
}

.experience-item {
    background: blueviolet;
    display: flex;
    flex-direction: column;
    margin: 0 1.5% 2% 1.5%; 
}

.experience-item img {

    flex: 1 1 25%;      
    max-width: 400px;   
    height: auto;
    border-radius: 0.5rem; 
}
.exp-text {
    flex: 1;
    text-align: center;
    font-size: 3rem;
}

.head-pro{
    background: #f00008;
    text-align: center;
    align-items: center;
    margin: 0 10% 3% 42%;
    font-size: 2.5rem;
    font-weight: 800;
}

.project-item {
    background: blueviolet;
    display: flex;
    flex-direction: column;
    margin: 0 1.5% 2% 1.5%; 
}

.project-item img {

    flex: 1 1 25%;      
    max-width: 400px;   
    height: auto;
    border-radius: 0.5rem; 
}
.pro-text {
    flex: 1;
    text-align: center;
    font-size: 3rem;
}